<?xml version="1.0" encoding="utf-8"?>
<Settings Version="6.0">
	<MouseSensitive V="1.5"/>
	<MinValidDist V="5"/>
	<MinValidSize V="10"/>
	<HideCptsMinSize V="20"/>
	<AutoSaveElapse V="300"/>
	<UndoLevel V="60"/>
	<RecentTemplates V="6"/>
	<RecentFileNum V="50"/>
	<DefaultTheme V="1"/>
	<ExpSize V="0"/>
	<ExpZoom V="2"/>
	<ExpShapes V="0"/>
	<ExpSolution V="0"/>
	<ExpSolutionX V="96"/>
	<ExpSolutionY V="96"/>
	<ExpUnit V="pixel"/>
	<HSpacing V="30"/>
	<VSpacing V="30"/>
	<TimelineWidth V="1000"/>
	<WarpWidth V="500"/>
	<ApplyTheme V="2"/>
	<ExportFlag V="9568255"/>
	<Preview V="TRUE"/>
	<AntiAlias V="TRUE"/>
	<CheckUpdate V="TRUE"/>
	<Recovery V="FALSE"/>
	<ClipArtWHRatio V="TRUE"/>
	<CompressImage V="TRUE"/>
	<LockConnector V="TRUE"/>
	<AskCompressImage V="FALSE"/>
	<UseDefaultFont V="FALSE"/>
	<DefaultFont V="Arial"/>
	<CalloutLayout V="TRUE"/>
	<WorkDay V="1;1;1;1;1;0;0"/>
	<MajorTick V="3"/>
	<MinorTick V="0"/>
	<StartDate V="0"/>
	<FinishDate V="0"/>
	<StartTime V="28800"/>
	<FinishTime V="57600"/>
	<DateFormat V="yyyy-MM-dd"/>
	<TimeFormat V="hh:mm"/>
	<CurrencyUnit V="USD"/>
	<WindowPos Width="0" Y="0" Height="0" X="0"/>
	<Lib V="./Symbols/Fruit.edt"/>
	<OpenLibIdx V="0"/>
	<LastCrashTime V="1503649282"/>
	<PidVersion V="1.0.0"/>
	<Language V="cn"/>
	<AdPackage V="0"/>
	<LocalLangID V="500"/>
</Settings>
